<div class="horizontal">
    <section *ngFor="let perso of masterServ.listePersos; let i=index">
        <article>
            <div *ngIf="perso.description.img.length > 0" class="vignette" [style.backgroundImage]="'url('+perso.description.img[0]+')'"></div>
            <div *ngIf="perso.description.img.length == 0" class="vignette" style.backgroundImage="/assets/images/bg/embleme_lion.jpg"></div>
            <h2>{{ perso.nom }}</h2>
        </article>
        <article>
            <div class="ca cartouche_petit">
                <p>{{ initServ.traductions['ca'] }}</p>
                <h1>{{ perso['ca'] }}</h1>
            </div>
            <div class="carre cartouche_petit">
                <p>{{ initServ.traductions['max'] }} : {{ perso['pvMax'] }}</p>
                <h1><input matInput [placeholder]="initServ.traductions['pointVieActu']" [value]="perso['pvActu']"></h1>
            </div>
            <div class="carre cartouche_petit">
                <p>{{ initServ.traductions['pointVieTmp'] }}</p>
                <h1><input matInput [placeholder]="initServ.traductions['pointVieTmp']" [value]="perso['pvTmp']"></h1>
            </div>
        </article>
        <article>
            <h3>{{ initServ.traductions['armesSorts'] }}</h3>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>{{ initServ.traductions['armes'] }}</h4>
                        </mat-panel-title>
                        <mat-panel-description>
                            ----------
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- GESTION DES ARMES -->
                    <table class="tabArmes">
                        <tr>
                            <th>{{ initServ.traductions['nom'] }}</th>
                            <th>{{ initServ.traductions['bonusAtt'] }}</th>
                            <th>{{ initServ.traductions['degats'] }}</th>
                            <th>{{ initServ.traductions['bonusDeg'] }}</th>
                            <th>{{ initServ.traductions['descr'] }}</th>
                        </tr>
                        <tr *ngFor="let a of perso.armes">
                            <td>{{a.nom}}</td>
                            <td>{{a.bonusAtt}}</td>
                            <td>{{a.degats}}</td>
                            <td>{{a.bonusDeg}}</td>
                            <td>{{a.descr}}</td>
                        </tr>
                    </table>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4>{{ initServ.traductions['sorts'] }}</h4>
                        </mat-panel-title>
                        <mat-panel-description>
                            -------------
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!-- GESTION DES SORTS -->
                    <table class="tabArmes">
                        <tr>
                            <th>{{ initServ.traductions['appris'] }}</th>
                            <th>{{ initServ.traductions['niveau'] }}</th>
                            <th>{{ initServ.traductions['nom'] }}</th>
                        </tr>
                        <tr *ngFor="let s of perso.sorts.livre">
                            <td>{{s.appris.nb}}</td>
                            <td>{{s.appris.niv}}</td>
                            <td><a [href]="s.lien" target="_blank">{{s.nom}}</a></td>
                        </tr>
                    </table>
                </mat-expansion-panel>
            </mat-accordion>
        </article>
    </section>
</div>