<mat-tab-group mat-align-tabs="center">
    <mat-tab label="infos">
        <ng-template mat-tab-label><mat-icon>person</mat-icon></ng-template>
        <section>
            Coucou
        </section>
    </mat-tab>
    <mat-tab label="combat">
        <ng-template mat-tab-label><mat-icon>verified_user</mat-icon></ng-template>
        <section>
            Coucou
        </section>
    </mat-tab>
    <mat-tab label="histoire">
        <ng-template mat-tab-label><mat-icon>assignment</mat-icon></ng-template>
        <section>
            Coucou
        </section>
    </mat-tab>
    <mat-tab label="sorts">
        <ng-template mat-tab-label><mat-icon>menu_book</mat-icon></ng-template>
        <section>
            Coucou
        </section>
    </mat-tab>
</mat-tab-group>
