<mat-tab-group mat-align-tabs="center">
    <mat-tab label="infos">
        <ng-template mat-tab-label><mat-icon>person</mat-icon></ng-template>
        <section>
            <article class="carac">{{ persoServ.perso['puissance']}}

                <h2>{{ initServ.traductions['carac'] }}</h2>
                <div>
                    <h3 class="moyen">{{ initServ.traductions['force'] }}</h3>
                    <p>{{ persoServ.perso.carac.force }}</p>
                    <p class="petit">{{ persoServ.perso.carac.force | bonusCarac }}</p>
                </div>
                
            </article>
            <article></article>
        </section>
    </mat-tab>
    <mat-tab label="combat">
        <ng-template mat-tab-label><mat-icon>verified_user</mat-icon></ng-template>
        <section>
            Coucou
        </section>
    </mat-tab>
    <mat-tab label="histoire">
        <ng-template mat-tab-label><mat-icon>assignment</mat-icon></ng-template>
        <section>
            Coucou
        </section>
    </mat-tab>
    <mat-tab label="sorts">
        <ng-template mat-tab-label><mat-icon>menu_book</mat-icon></ng-template>
        <section>
            Coucou
        </section>
    </mat-tab>
</mat-tab-group>
