<main [class.example-is-mobile]="mobileQuery.matches">

    <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1>{{ initServ.traductions['titre'] }}</h1>
        <div>
            <mat-form-field>
                <mat-select>
                    <mat-option *ngFor="let p of masterServ.persos" [value]="p">
                        {{p}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button><mat-icon>group_add</mat-icon></button>
            <button mat-icon-button><mat-icon>save</mat-icon></button>
            <button mat-icon-button><mat-icon>edit</mat-icon></button>
            <button mat-icon-button><mat-icon>build</mat-icon></button>
            <a href="https://www.aidedd.org/regles/" target="_blank"><img src="/assets/images/logos/DD5_logo_h_b.png" /></a>
        </div>
    </mat-toolbar>

    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <section>
                    <article>
                        <button mat-icon-button (click)="send = !send"><mat-icon>message</mat-icon></button>
                        <form *ngIf="send" #f="ngForm" (ngSubmit)="envoiRessourceWS()">
                            <h2>{{ initServ.traductions['wsDialogue'] }}</h2>
                            <mat-form-field>
                                <mat-label>{{ initServ.traductions['wsMessage'] }}</mat-label>
                                <input matInput name="msg" [(ngModel)]="envoiWS.msg" required>
                            </mat-form-field>
                            <mat-radio-group name="type" [(ngModel)]="envoiWS.type" required>
                                <mat-radio-button value="message" checked>{{ initServ.traductions['wsOptionMsg'] }}</mat-radio-button>
                                <mat-radio-button value="image">{{ initServ.traductions['wsOptionImg'] }}</mat-radio-button>
                                <mat-radio-button value="audio">{{ initServ.traductions['wsOptionAudio'] }}</mat-radio-button>
                                <mat-radio-button value="video">{{ initServ.traductions['wsOptionVideo'] }}</mat-radio-button>
                                <mat-radio-button value="tube">{{ initServ.traductions['wsOptionTube'] }}</mat-radio-button>
                            </mat-radio-group>
                            <button mat-fab [disabled]="f.invalid" [matTooltip]="initServ.traductions['interactions']['valide']">
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                        </form>
                    </article>
                </section>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
            <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
        </mat-sidenav-content>
    </mat-sidenav-container>
</main>