<div class="vertical">
    <!-- CARACTERISTIQUES -->
    <h1>{{ initServ.traductions['sorts'] }}</h1>
    <section class="horizontal">
        <article class="cartouche_moyen">
            <div class="f_m">
                <p>{{ initServ.traductions['preparation'] }}</p>
                <h1><input matInput name="editSortPrep" [(ngModel)]="persoServ.perso.sorts.preparation"></h1>
            </div>
        </article>
        <article class="cartouche_moyen">
            <div class="f_m">
                <p>{{ initServ.traductions['ddSauvegardeSorts'] }}</p>
                <h1><input matInput name="editSortDD" [(ngModel)]="persoServ.perso.sorts.ddSauvegarde"></h1>
            </div>
        </article>
        <article class="cartouche_moyen">
            <div class="f_m">
                <p>{{ initServ.traductions['bonusAttSort'] }}</p>
                <h1><input matInput name="editSortAtt" [(ngModel)]="persoServ.perso.sorts.bonusAtt"></h1>
            </div>
        </article>
    </section>
    <section>
        <h2>Sorts par niveau</h2>
        <article>
            <button mat-mini-fab color="primary" (click)="ajoutNiveauSort()">
                <mat-icon>playlist_add</mat-icon>
            </button>

            <ul class="ligne">
                <li *ngFor="let niv of persoServ.perso.sorts.nombre; let i=index">
                    {{ initServ.traductions['niveau'] + ' ' + i}} :
                    <h1><input matInput [name]="'n'+i" [(ngModel)]="persoServ.perso.sorts.nombre[i]"></h1>
                </li>
            </ul>
        </article>
    </section>
    <h1>{{ initServ.traductions['sorts'] }}</h1>
    <section>
        <button mat-fab color="primary" (click)="ajoutSort()">
            <mat-icon>playlist_add</mat-icon>
          </button>
        <article>
            <p>{{ initServ.traductions['niveau'] }} </p>
            <p>{{ initServ.traductions['nom'] }} </p>
            <p>{{ initServ.traductions['bonusAttSort'] }}</p>
            <p>{{ initServ.traductions['degats'] }}</p>
            <p>{{ initServ.traductions['bonusDeg'] }}</p>
            <p>{{ initServ.traductions['duree'] }}</p>
            <p>{{ initServ.traductions['portee'] }}</p>
            <p>{{ initServ.traductions['tpsInc'] }}</p>
            <p>{{ initServ.traductions['composants'] }}</p>
            <p>{{ initServ.traductions['aire'] }}</p>
            <p>{{ initServ.traductions['descr'] }}</p>
            <p>{{ initServ.traductions['lien'] }}</p>
        </article>
        <article *ngFor="let l of persoServ.perso.sorts.livre; let i=index">
            <p>
                <input matInput name="editSortNiv" [(ngModel)]="l.niveau">
            </p>
            <p>
                <input matInput name="editSortNom" [(ngModel)]="l.nom">
            </p>
            <p>
                <input matInput name="editSortAtt" [(ngModel)]="l.bonusAtt">
            </p>
            <p>
                <input matInput name="editSortDeg" [(ngModel)]="l.degats">
            </p>
            <p>
                <input matInput name="editSortBonusDeg" [(ngModel)]="l.bonusDeg">
            </p>
            <p>
                <input matInput name="editSortDuree" [(ngModel)]="l.duree">
            </p>
            <p>
                <input matInput name="editSortPortee" [(ngModel)]="l.portee">
            </p>
            <p>
                <input matInput name="editSortTps" [(ngModel)]="l.tps">
            </p>
            <p>
                <input matInput name="editSortComp" [(ngModel)]="l.composantes">
            </p>
            <p>
                <input matInput name="editSortAire" [(ngModel)]="l.aire">
            </p>
            <p>
                <input matInput name="editSortDescr" [(ngModel)]="l.descr">
            </p>
            <p>
                <input matInput name="editSortLien" [(ngModel)]="l.lien">
            </p>
            <p>
                <button mat-icon-button color="primary" (click)="supprSort(i)" [matTooltip]="initServ.traductions['interactions']['suppr']">
                    <mat-icon>delete</mat-icon>
                </button>
            </p>
        </article>
    </section>
</div>