<div class="vertical">
    <section>
        <article *ngFor="let i of persoServ.perso.description.img">
            <a [href]="i" target="_blank"><img [src]="i" (click)="modale(i)" /></a>
        </article>
    </section>
    <section>
        <h1><input matInput name="editNom" [(ngModel)]="persoServ.perso.nom">/ <input matInput name="editRace" [(ngModel)]="persoServ.perso.description.race">/ <input matInput name="editClasse" [(ngModel)]="persoServ.perso.description.classe"> (<input matInput
                name="editHistorique" [(ngModel)]="persoServ.perso.description.historique">(<input matInput name="editAlignement" [(ngModel)]="persoServ.perso.description.alignement">))</h1>
        <h2>{{ initServ.traductions['age']+' : ' }} <input matInput name="editAge" [(ngModel)]="persoServ.perso.description.physique.age">/ {{ initServ.traductions['taille']+' : ' }}<input matInput name="editTaille" [(ngModel)]="persoServ.perso.description.physique.taille">/
            {{ initServ.traductions['poids']+' : ' }} <input matInput name="editPds" [(ngModel)]="persoServ.perso.description.physique.poids"></h2>
        <h3>{{ initServ.traductions['yeux']+' : ' }} <input matInput name="editYeux" [(ngModel)]="persoServ.perso.description.physique.yeux">/ {{ initServ.traductions['peau']+' : ' }}<input matInput name="editPeau" [(ngModel)]="persoServ.perso.description.physique.peau">/
            {{ initServ.traductions['cheveux']+' : ' }} <input matInput name="editChe" [(ngModel)]="persoServ.perso.description.physique.cheveux">
        </h3>
    </section>
    <section class="horizontal">
        <h1>{{ initServ.traductions['apparence'] }}</h1>
        <article class="cartouche_allonge_h f_m_h">
            <div>
                <textarea matInput name="editAppa" [(ngModel)]="persoServ.perso.description.apparence"></textarea>
            </div>
        </article>
        <h1>{{ initServ.traductions['histoire'] }}</h1>
        <article class="cartouche_allonge_h f_m_h">
            <div>
                <textarea matInput name="editHist" [(ngModel)]="persoServ.perso.description.histoire"></textarea>
            </div>
        </article>
    </section>

    <section>
        <h1>{{ initServ.traductions['possessions'] }}</h1>
        <button mat-fab color="primary" (click)="ajoutPoss()">
            <mat-icon>playlist_add</mat-icon>
        </button>
        <article>
            <p>{{ initServ.traductions['nom'] }} </p>
            <p>{{ initServ.traductions['pds'] }}</p>
            <p>{{ initServ.traductions['quantite'] }}</p>
            <p>{{ initServ.traductions['descr'] }}</p>
        </article>
        <article *ngFor="let p of persoServ.perso.possessions; let i=index">
            <p>
                <input matInput name="editPoNom" [(ngModel)]="p.nom">
            </p>
            <p>
                <input matInput name="editPoPds" [(ngModel)]="p.pds">
            </p>
            <p>
                <input matInput name="editPoDeg" [(ngModel)]="p.quantite">
            </p>
            <p>
                <input matInput name="editPoDescr" [(ngModel)]="p.descr">
            </p>
            <p>
                <button mat-icon-button color="primary" (click)="supprPoss(i)" [matTooltip]="initServ.traductions['interactions']['suppr']">
                    <mat-icon>delete</mat-icon>
                </button>
            </p>
        </article>
    </section>
    <section>
        <h1>{{ initServ.traductions['tresors'] }}</h1>
        <button mat-fab color="primary" (click)="ajoutTresor()">
                <mat-icon>playlist_add</mat-icon>
              </button>
        <article>
            <p>{{ initServ.traductions['nom'] }} </p>
            <p>{{ initServ.traductions['magie'] }}</p>
            <p>{{ initServ.traductions['quantite'] }}</p>
            <p>{{ initServ.traductions['descr'] }}</p>
        </article>
        <article *ngFor="let t of persoServ.perso.tresors; let i=index">
            <p>
                <input matInput name="editTrNom" [(ngModel)]="t.nom">
            </p>
            <p>
                <input matInput name="editTrMagie" [(ngModel)]="t.magie">
            </p>
            <p>
                <input matInput name="editTrDeg" [(ngModel)]="t.quantite">
            </p>
            <p>
                <input matInput name="editTrDescr" [(ngModel)]="t.descr">
            </p>
            <p>
                <button mat-icon-button color="primary" (click)="supprTresor(i)" [matTooltip]="initServ.traductions['interactions']['suppr']">
                        <mat-icon>delete</mat-icon>
                    </button>
            </p>
        </article>
    </section>
</div>