<div class="horizontal">
    <!-- CARACTERISTIQUES -->
    <section class="carac">
        <h1>{{ initServ.traductions['carac'] }}</h1>
        <article>
            <div>
                <p class="petit">{{ initServ.traductions['force'] }}</p>
                <input matInput name="force" [(ngModel)]="persoServ.perso.carac.force">
                <p class="moyen">{{ persoServ.perso.carac.force | bonusCarac }}</p>
            </div>
        </article>
        <article>
            <div>
                <p class="petit">{{ initServ.traductions['dexterite'] }}</p>
                <input matInput name="dexterite" [(ngModel)]="persoServ.perso.carac.dexterite">
                <p class="moyen">{{ persoServ.perso.carac.dexterite | bonusCarac }}</p>
            </div>
        </article>
        <article>
            <div>
                <p class="petit">{{ initServ.traductions['constitution'] }}</p>
                <input matInput name="constitution" [(ngModel)]="persoServ.perso.carac.constitution">
                <p class="moyen">{{ persoServ.perso.carac.constitution | bonusCarac }}</p>
            </div>
        </article>
        <article>
            <div>
                <p class="petit">{{ initServ.traductions['intelligence'] }}</p>
                <input matInput name="intelligence" [(ngModel)]="persoServ.perso.carac.intelligence">
                <p class="moyen">{{ persoServ.perso.carac.intelligence | bonusCarac }}</p>
            </div>
        </article>
        <article>
            <div>
                <p class="petit">{{ initServ.traductions['sagesse'] }}</p>
                <input matInput name="sagesse" [(ngModel)]="persoServ.perso.carac.sagesse">
                <p class="moyen">{{ persoServ.perso.carac.sagesse | bonusCarac }}</p>
            </div>
        </article>
        <article>
            <div>
                <p class="petit">{{ initServ.traductions['charisme'] }}</p>
                <input matInput name="charisme" [(ngModel)]="persoServ.perso.carac.charisme">
                <p class="moyen">{{ persoServ.perso.carac.charisme | bonusCarac }}</p>
            </div>
        </article>
    </section>
    <!-- COMPETENCES -->
    <section>
        <h1>{{ initServ.traductions['competences'] }}</h1>
        <article class="f_g_v colonne">
            <div>
                <p *ngFor="let c of initServ.regles['competences']" class="espace">
                    <mat-checkbox [value]="c.id" [checked]="persoServ.perso.competences.includes(c.id)" (change)="changeComp(c.id, $event)">{{ c.nom }} ({{ c.carac | compCarac }})</mat-checkbox>
                </p>
            </div>
        </article>
    </section>
    <section>
        <h1>{{ initServ.traductions['jds'] }}</h1>
        <article class="cartouche_allonge_v f_lm colonne">
            <div class="">
                <p *ngFor="let ca of initServ.regles['carac']" class="espace">
                    <mat-checkbox [value]="ca.id" [checked]="persoServ.perso.sauvegarde.includes(ca.id)" (change)="changeSaves(ca.id, $event)">{{ ca.nom }}</mat-checkbox>
                </p>
            </div>
        </article>
        <h1>{{ initServ.traductions['autresMaitrises'] }}</h1>
        <article class="cartouche_allonge_v f_lm colonne">
            <div>
                <h4>{{ initServ.traductions['ajoutLangue'] }}</h4>
                <input mat-matInput #langue [placeholder]="initServ.traductions['ajoutLangue']">
                <button mat-icon-button color="primary" (click)="ajoutLangue(langue.value)" [matTooltip]="initServ.traductions['interactions']['ajout']">
                        <mat-icon>note_add</mat-icon>
                    </button>
            </div>
            <div class="">
                <p *ngFor="let l of persoServ.perso.langues; let i=index" class="espace">
                    <button mat-icon-button color="primary" (click)="supprLangue(i)" [matTooltip]="initServ.traductions['interactions']['suppr']">
                        <mat-icon>delete</mat-icon>
                    </button>{{ l }}
                </p>
            </div>
        </article>
    </section>
    <section>
        <h1>{{ initServ.traductions['capacites'] }}</h1>
        <article class="f_g_v colonne">
            <div>
                <h4>{{ initServ.traductions['ajoutCapacite'] }}</h4>
                <input mat-matInput #capacite [placeholder]="initServ.traductions['ajoutCapacite']">
                <button mat-icon-button color="primary" (click)="ajoutCapacite(capacite.value)" [matTooltip]="initServ.traductions['interactions']['ajout']">
                    <mat-icon>note_add</mat-icon>
                </button>
                <ul>
                    <li *ngFor="let cap of persoServ.perso.capacites let i=index" class="serre">
                        <button mat-icon-button color="primary" (click)="supprCapacite(i)" [matTooltip]="initServ.traductions['interactions']['suppr']">
                            <mat-icon>delete</mat-icon>
                        </button>{{ cap }}</li>
                </ul>
            </div>
        </article>
    </section>
</div>