main {
    flex-flow: column nowrap;
}

mat-toolbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

mat-nav-list>section {
    min-width: 20vw;
}

mat-toolbar>div {
    display: flex;
    align-items: center;
}

mat-toolbar>div>* {
    margin-left: 15px;
}

mat-toolbar img {
    max-width: 200px;
}


/* Classes en lien avec la synchronisation avec le maître de jeu */

.ws article:nth-child(1) {
    height: calc(85vh - 100px);
}

.ws article:nth-child(2) {
    height: 15vh;
}

.ws video {
    margin: auto;
}

.ws ul {
    padding: 0;
}

.ws li {
    list-style: disc;
    cursor: pointer;
}

.ws span {
    background-color: rgba(0, 0, 0, .4);
    margin-right: 5px;
    padding: 4px 6px;
}