<main [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1>{{ initServ.traductions['bienvenue'] }} {{ persoServ.perso.nom }} ({{ initServ.profil['nom'] }})</h1>
        <div>
            <mat-form-field>
                <mat-select (selectionChange)="selectPerso()" [(ngModel)]="persoChoisi">
                    <mat-option value="null">{{ initServ.traductions['choixPerso'] }}</mat-option>
                    <mat-option *ngFor="let p of initServ.profil.persos" [value]="p">
                        {{p}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-icon-button><mat-icon>group_add</mat-icon></button>
            <button mat-icon-button (click)="persoServ.savePerso()" [matTooltip]="initServ.traductions['savePerso']"><mat-icon>save</mat-icon></button>
            <button mat-icon-button routerLink="/joueur/edit" [matTooltip]="initServ.traductions['editPerso']"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button [matTooltip]="initServ.traductions['telechargePerso']"><mat-icon>save_alt</mat-icon></button>
            <button mat-icon-button routerLink="/joueur/params" [matTooltip]="initServ.traductions['optionParams']"><mat-icon>build</mat-icon></button>
            <a href="https://www.aidedd.org/regles/" target="_blank"><img src="/assets/images/logos/DD5_logo_h_b.png" /></a>
        </div>
    </mat-toolbar>

    <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list>
                <section class="ws">
                    <article>
                        <h2>{{ initServ.traductions['wsRecuMaster'] }}</h2>
                        <ul>
                            <li *ngFor="let m of initServ.listeMsg; let i=index" (click)="getWSMsg(m)">
                                <span>{{ m.date }}</span><span>{{ m.msg }}</span><span>({{ m.type }})</span>
                            </li>
                        </ul>
                    </article>
                    <article>
                        <video controls *ngIf="srcVideo">
                            <source [src]="srcVideo"
                                    type="video/webm">
                        
                            <source [src]="srcVideo"
                                    type="video/mp4">
                        </video>
                        <audio controls *ngIf="srcVideo">
                            <source [src]="srcAudio"
                                    type="audio/mp3">
                        </audio>
                    </article>
                </section>
                <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <section>
                <router-outlet></router-outlet>
            </section>
            <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
        </mat-sidenav-content>
    </mat-sidenav-container>
</main>
<app-modale *ngIf="modale" class="modale"></app-modale>