<main>
    <section></section>
    <section>
        <form>
            <mat-form-field>
              <mat-label>Identifiant</mat-label>
              <input matInput placeholder="Saisissez votre identifiant" [value]="conServ.connexion.id">
            </mat-form-field>
          
            <mat-form-field>
                <mat-label>Mot de passe</mat-label>
                <input matInput placeholder="Saisissez votre mot de passe" [value]="conServ.connexion.mdp">
              </mat-form-field>
          </form>
    </section>
</main>