<div class="vertical">

    <!-- CARACTERISTIQUES -->
    <section>
        <h1>{{ initServ.traductions['action'] }}</h1>
        <div class="horizontal">
            <article>
                <div class="ca cartouche_petit">
                    <p>{{ initServ.traductions['ca'] }}</p>
                    <h1><input matInput name="editCa" [(ngModel)]="persoServ.perso.ca"></h1>
                </div>
            </article>
            <article>
                <div class="carre cartouche_petit">
                    <p>{{ initServ.traductions['vitesse'] }}</p>
                    <h1><input matInput name="editVitesse" [(ngModel)]="persoServ.perso.vitesse"></h1>
                </div>
            </article>
            <article>
                <div class="carre cartouche_petit">
                    <p>{{ initServ.traductions['max'] }} : <input matInput name="editPvMax" [(ngModel)]="persoServ.perso.pvMax"></p>
                    <h1><input matInput name="editPvActu" [(ngModel)]="persoServ.perso.pvActu"></h1>
                </div>
            </article>

            <article>
                <div class="carre cartouche_petit">
                    <p>{{ initServ.traductions['desVie'] }}</p>
                    <h1><input matInput name="editDesVis" [(ngModel)]="persoServ.perso.desVie"></h1>
                </div>
            </article>
        </div>
    </section>

    <section>
        <h1>{{ initServ.traductions['armesSorts'] }}</h1>
        <button mat-fab color="primary" (click)="ajoutArme()">
            <mat-icon>playlist_add</mat-icon>
          </button>
        <article>
            <p>{{ initServ.traductions['nom'] }} </p>
            <p>{{ initServ.traductions['bonusAtt'] }}</p>
            <p>{{ initServ.traductions['degats'] }}</p>
            <p>{{ initServ.traductions['bonusDeg'] }}</p>
            <p>{{ initServ.traductions['descr'] }}</p>
        </article>
        <article *ngFor="let a of persoServ.perso.armes; let i=index">
            <p>
                <input matInput name="editNom" [(ngModel)]="a.nom">
            </p>
            <p>
                <input matInput name="editBonusAtt" [(ngModel)]="a.bonusAtt">
            </p>
            <p>
                <input matInput name="editDeg" [(ngModel)]="a.degats">
            </p>
            <p>
                <input matInput name="editBonusDeg" [(ngModel)]="a.bonusDeg">
            </p>
            <p>
                <input matInput name="editDescr" [(ngModel)]="a.descr">
            </p>
            <p>
                <button mat-icon-button color="primary" (click)="supprArme(i)" [matTooltip]="initServ.traductions['interactions']['suppr']">
                    <mat-icon>delete</mat-icon>
                </button>
            </p>
        </article>
    </section>
</div>