/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 15px;
    background-color: #303030;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
}

h1,
h2,
h3,
h4 {
    font-family: 'MedievalSharp', cursive !important;
}

a {
    color: rgba(255, 255, 255, .6);
    font-weight: bold;
    transition: all .4s ease;
}

a:hover {
    color: rgba(255, 255, 255, .6);
    font-weight: bold;
}

section {
    padding: 10px;
}

section>article>div {
    margin: auto;
}


/* MISE EN PAGE FEUILLE DE PERSO */

section.carac {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    margin: 10px;
    /* margin: auto; */
}

section.carac>article {
    display: flex;
    margin: 10px;
}

section.carac>article>div:nth-child(1) {
    margin: 0;
    text-transform: uppercase;
    flex-grow: 1;
}

section.carac>article>div:nth-child(2) {
    font-weight: bold;
    flex-grow: 2;
}

section.carac>article>div:nth-child(3) {
    font-weight: bold;
    flex-grow: 1;
}

section.carac article>div,
.cartouche_carac {
    width: 100px;
    height: 100px;
    background: url('assets/images/ui/c_score_bonus.svg') 50% no-repeat;
    background-size: contain;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    padding: 5px;
    margin: auto;
}

div>section {
    margin: 0 auto;
}

* {
    /* box-sizing: border-box; */
}

.vertical {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: stretch;
}

.horizontal {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
}

.logo {
    font-family: 'MedievalSharp', cursive !important;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

a.logo,
.logo a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

h1.logo {
    font-size: 150px;
    width: 100%;
    line-height: 150px;
    text-align: center;
    color: red;
    letter-spacing: -20px;
}

h2.logo {
    font-size: 70;
    letter-spacing: -5px;
}

input.mat-input-element,
textarea.mat-input-element {
    border-left: thin solid rgba(255, 255, 255, .4);
    border-right: thin solid rgba(255, 255, 255, .4);
    width: auto;
    margin: 0 5px !important;
    padding: 0 5px;
    box-sizing: border-box;
}


/* Classes spécialisées */

.tabArmes {
    width: 100%;
}

.tabArmes td {
    text-align: center;
}

.tabArmes tr>td:nth-child(1),
.tabArmes tr>td:nth-child(5) {
    text-align: left;
}

.petit {
    font-size: 9px;
}

.moyen {
    font-size: 14px;
}

.grand {
    font-size: 16px;
    font-weight: bold;
}

.colonne {
    display: flex;
    flex-flow: column nowrap;
}

.ligne {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 20px;
}

.espace {
    margin: 5px;
}

.serre {
    margin: 0;
    padding: 0;
}

.margeauto {
    margin: auto;
}

.vignette {
    width: 100%;
    height: 200px;
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.f_g_v {
    background: url("assets/images/ui/f_g.svg") 50% no-repeat;
    background-size: 100%;
    padding: 20px 30px;
    height: 725px;
    width: 250px;
    overflow-y: auto;
}

.f_g_v ul {
    padding: 0;
}

.f_g_v li {
    list-style: none;
}

.f_tg_h {
    background: url("assets/images/ui/f_gg_v.svg") 50% no-repeat;
    background-size: 100%;
    height: 350px;
    width: 600px;
    overflow-y: auto;
}

.f_lm {
    background: url("assets/images/ui/f_m_v.svg") 50% no-repeat;
    background-size: cover;
    overflow-y: auto;
}

.f_m_haut {
    background: url("assets/images/ui/f_m_haut.svg") 50% no-repeat;
    background-size: cover;
    overflow-y: auto;
}

.f_m_bas {
    background: url("assets/images/ui/f_m_bas.svg") 50% no-repeat;
    background-size: cover;
    overflow-y: auto;
}

.f_m_v {
    background: url("assets/images/ui/f_m_v.svg") 50% no-repeat;
    background-size: cover;
    overflow-y: auto;
}

.f_m_h {
    background: url("assets/images/ui/f_m_h.svg") 50% no-repeat;
    background-size: cover;
}

.f_p {
    background: url("assets/images/ui/f_m_bas.svg") 50% no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.ca {
    background: url('assets/images/ui/ca.svg') 50% no-repeat;
    background-size: contain;
}

.carre {
    background: url('assets/images/ui/c_carre.svg') 50% no-repeat;
    background-size: contain;
}

.cartouche_petit {
    width: 100px;
    height: 100px;
    text-align: center;
}

.cartouche_moyen {
    width: 200px;
    height: 200px;
    text-align: center;
}

.cartouche_large {
    width: 300px;
    height: 350px;
}

.cartouche_allonge_h {
    width: 450px;
    height: 200px;
}

.cartouche_allonge_h textarea {
    width: 420px;
    height: 170px;
}

.cartouche_allonge_v {
    width: 150px;
    height: 250px;
}

.cartouche_allonge_v textarea {
    width: 120px;
    height: 220px;
}

[class^="cartouche"] {
    padding: 20px 10px;
    margin: 10px;
    display: flex;
}

[class^="cartouche"]>div {
    /* width: 100%;
    height: 100%; */
    margin: auto;
    overflow-y: auto;
}

.modale {
    position: absolute;
    top: 56px;
    left: 0;
}


/* Génériques */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #c2185b;
}